main.home .sidebar .sidebarSection{
  button{
    width: 100%;
    font-size: .9rem;
    font-weight: 500;
    color: var(--text-30);
    padding: .3rem;

    &:hover{
      background-color: var(--transparent-gray-10);
      color: var(--text);
    }

    svg.chevron{
      transition: rotate .2s;
    }
  }

  a{
    padding: .2rem;
    padding-left: .4rem;
    justify-content: left;
    gap: .3rem;
    color: var(--text-20);
    font-weight: 500;

    &:hover{
      background-color: var(--transparent-gray-10);
      text-decoration: underline;
      color: var(--text);
    }
  }

  &[data-state="open"] svg.chevron{
    rotate: 180deg;
  }

  button.create{
    margin-left: .4rem;
    margin-top: .2rem;
    width: calc(100% - .4rem);
    font-size: .9rem;
    justify-content: center;
    color: var(--accent);
    background-color: var(--transparent-accent-10);

    &:hover{
      background-color: var(--transparent-accent-20);
      color: var(--accent-55);
    }
  }

  .empty{
    font-size: .9rem;
    color: var(--text-50);
    margin: .3rem .5rem;
  }
}