.exportPreview {
  --export-default-border: light-dark(hsl(0, 0%, 70%), hsl(0, 0%, 30%));
  --export-header-bg: light-dark(hsl(0, 0%, 75%), hsl(0, 0%, 30%));
  --export-header-border: light-dark(hsl(0, 0%, 60%), hsl(0, 0%, 10%));
  --export-scene-attribute-defs-bg: light-dark(hsl(0, 0%, 90%), hsl(0, 0%, 20%));
  --export-row-bg: light-dark(hsl(0, 0%, 95%), hsl(0, 0%, 10%));
  --export-row-odd-bg: light-dark(hsl(0, 0%, 90%), hsl(0, 0%, 15%));

  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--text);
  font-size: .8rem;
  border: 1px solid var(--export-default-border);
  border-radius: .5rem;

  .row {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--export-default-border);
    align-items: stretch;

    &:last-child {
      border-bottom: none;
    }
  }

  .cell {
    flex: 1 1 0px;
    padding: .5rem;
    border-right: 1px solid var(--export-default-border);
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:last-child {
      border-right: none;
    }
  }

  /* Header Styles */
  .header {
    background-color: var(--export-header-bg);
    border-color: var(--export-header-border);

    &.sceneAttributes {
      font-size: .9rem;
      font-weight: 700;
    }

    .cell {
      border-color: var(--export-header-border);
    }
  }

  .sceneAttributeDefinitions {
    background-color: var(--export-scene-attribute-defs-bg);
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;

    .numberCell {
      border-top-left-radius: .5rem;
    }

    .cell:last-of-type {
      border-top-right-radius: .5rem;
    }
  }

  /* Shot Rows */
  .shotRow {
    background-color: var(--export-row-bg);

    &.rowOdd {
      background-color: var(--export-row-odd-bg);
    }
  }

  .sceneGroup:last-of-type {
    .shotRow:last-of-type{
      border-bottom-left-radius: .5rem;
      border-bottom-right-radius: .5rem;

      .numberCell {
        border-bottom-left-radius: .5rem;
      }

      .cell:last-of-type {
        border-bottom-right-radius: .5rem;
      }
    }
  }

  /* Fixed-width Column for Numbers */
  .numberCell {
    flex: 0 0 min(4rem, 10vw);
    text-align: center;
  }

  .empty {
    padding: 2rem;
    text-align: center;
    border: 1px dashed var(--export-default-border);
  }
}