.accountContent{
  display: flex;
  flex-direction: column;
  gap: .8rem;
  max-width: 600px;

  .title{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
    margin-bottom: .8rem;
  }

  .row{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
    height: 2rem;

    p{
      color: var(--text-20);
      font-size: .95rem;
    }

    &:not(.legal) {
      button, a {
        border: 2px solid var(--default-interactable-border);
        color: var(--text-30);
        font-weight: 500;
        width: fit-content;
        padding: .4rem 1rem;
        font-size: .95rem;

        &.accent {
          color: var(--accent-30);
          border-color: var(--accent);
        }

        &.bad:hover{
          border-color: var(--bad);
          color: var(--bad-10);
        }

        &:not([disabled]):not(.bad):hover {
          background-color: var(--hover-bg-10);
          color: var(--text);
          border-color: var(--default-interactable-border-hover);

          &.accent {
            background-color: var(--hover-bg-accent-10);
            color: var(--accent-40);
            border-color: var(--accent-60);
          }
        }
      }
    }

    &.legal{
      flex-wrap: wrap;

      a{
        font-size: .9rem;
        color: var(--text-60);

        &:hover{
          color: var(--text);
          text-decoration: underline;
        }
      }
    }

    &.bottom{
      padding-inline: .5rem;
    }

    &.subscription p:nth-of-type(2){
      color: var(--accent-40);
      font-weight: bold;
      background-color: var(--accent-92);
      padding: .5rem;
      border-radius: .3rem;
    }
  }

  .closeButton{
    position: absolute;
    top: .5rem;
    right: .5rem;
    padding: .2rem;
    background-color: var(--dialog-close-button-bg);
    border-radius: 1rem;

    &:hover{
      background-color: var(--dialog-close-button-hover-bg);
    }
  }

  small{
    font-size: .8rem;
    color: var(--text-70);
    text-align: center;
  }
}

