.accountDialogContent{
  display: flex;
  flex-direction: column;
  gap: .8rem;
  max-width: 600px;
  scrollbar-width: thin;

  .title{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
    margin-bottom: .8rem;
  }

  .row{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
    min-height: 2rem;

    p{
      color: var(--text-20);
      font-size: .95rem;

      &.value{
        color: var(--text-30);
        font-weight: bold;

        &.error{
          color: var(--bad);
          text-decoration: underline;
        }
      }
    }

    &:not(.legal) {
      button, a {
        border: 2px solid var(--default-interactable-border);
        color: var(--text-30);
        font-weight: 500;
        width: fit-content;
        padding: .4rem 1rem;
        font-size: .95rem;

        &.accent {
          color: var(--text-100);
          border: none;
          font-weight: bold;
          background-color: var(--accent);

          &:hover {
            background-color: var(--accent-55);
          }
        }

        &.bad:hover{
          border-color: var(--bad);
          color: var(--bad-10);
        }

        &:not([disabled]):not(.bad):not(.accent):hover {
          background-color: var(--transparent-gray-10);
          color: var(--text);
          border-color: var(--default-interactable-border-hover);
        }
      }
    }

    &.legal{
      flex-wrap: wrap;

      a{
        font-size: .9rem;
        color: var(--text-60);

        &:hover{
          color: var(--text);
          text-decoration: underline;
        }
      }
    }

    &.bottom{
      padding-inline: .5rem;
    }
  }

  .closeButton{
    position: absolute;
    top: .5rem;
    right: .5rem;
    padding: .4rem;
    background-color: var(--dialog-close-button-bg);
    border-radius: 1rem;

    &:hover{
      background-color: var(--dialog-close-button-hover-bg);
    }
  }

  small{
    font-size: .8rem;
    color: var(--text-70);
    text-align: center;
  }
}

