.shotlistOptionsDialogExportTab .setting.filter {
  button.method{
    font-size: .75rem;
    color: var(--text-40);
    border-radius: 2rem;
    font-weight: 600;
    padding: .5rem;
    border: none;
    margin-inline: -.5rem;
    gap: .3rem;

    &:hover {
      color: var(--text-20);
    }

    .details{
      display: flex;
      align-items: center;
      gap: .1rem;
    }
  }
}
