div.textField{
  display: flex;
  flex-direction: column;

  --border: var(--default-interactable-border);
  --border-hover: var(--default-interactable-hover-border);
  --focus-border: var(--accent);
  --focus-border-hover: var(--accent-40);

  &.accent{
    --border: var(--accent);
    --border-hover: var(--accent-40);
    --focus-border: var(--accent-55);
    --focus-border-hover: var(--accent-60);
  }

  label{
    font-size: .9rem;
    color: var(--text-40);
    margin-bottom: .2rem;
    margin-left: .2rem;
    font-weight: 500;
  }

  .infoContainer{
    display: flex;
    align-items: center;
    gap: .2rem;

    button{
      color: var(--text-60);
      border-radius: 50%;
      padding: .3rem;

      &:hover{
        color: var(--text-20);
        background-color: var(--hover-bg-10);
      }
    }
  }

  .errorContainer{
    display: flex;
    flex-direction: column;
    width: 100%;

    p.error{
      font-size: .9rem;
      color: #e89200;
      font-weight: 500;
      text-align: end;
      margin-right: .2rem;

      &.max{
        color: var(--bad);
      }
    }
  }

  input{
    border-radius: .3rem;
    border: 2px solid var(--border);
    padding: .5rem .3rem;
    max-width: 40ch;
    width: 100%;

    &:not([disabled]):not(:focus-visible):hover{
      border-color: var(--border-hover);
    }

    &:focus-visible{
      outline: none;
      border-color: var(--focus-border);

      &:hover{
        border-color: var(--focus-border-hover);
      }
    }

    &[disabled]{
      color: var(--text-50);
      cursor: initial;
    }
  }
}
