div.shotlistOptionsDialogCollaboratorsTab{
  display: flex;
  flex-direction: column;

  .collaborator{
    display: flex;
    align-items: center;
    gap: .5rem;

    p{
      @media screen and (max-width: 600px){
        font-size: .9rem;
      }
    }

    .simpleSelect{
      margin-left: auto;
    }

    .inlineButtons{
      display: flex;

      @media screen and (max-width: 600px){
        display: none;
      }
    }

    .optionsTrigger{
      display: none;
      margin-left: auto;

      @media screen and (max-width: 600px){
        display: flex;
      }
    }

    button{
      color: var(--text-30);
      border: 2px solid var(--default-interactable-border);
      border-radius: .3rem;
    }
  }

  .empty{
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: .9rem;
    color: var(--text-40);
  }

  .Separator{
    margin-top: 2rem;
  }

  .new{
    display: flex;
    align-items: flex-end;
    gap: .8rem;

    button{
      background-color: var(--accent);
      margin-bottom: .1rem;

      &:not([disabled]):hover{
        background-color: var(--accent-60);
        color: var(--text);
      }
    }
  }
}

.collaboratorOptionsPopup{
  .simpleSelect button{
    border: none;
  }

  button{
    padding: .3rem;
  }
}