div.shotlistOptionsDialogCollaboratorsTab{
  display: flex;
  flex-direction: column;

  .collaborator{
    display: flex;
    align-items: center;
    gap: .5rem;

    .simpleSelect{
      margin-left: auto;
    }

    button{
      color: var(--text-30);
      border: 2px solid var(--default-interactable-border);
      border-radius: .3rem;
    }
  }

  .empty{
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: .9rem;
    color: var(--text-40);
  }

  .new{
    display: flex;
    align-items: flex-end;
    gap: .8rem;
    margin-top: 2rem;

    button{
      background-color: var(--accent);
      margin-bottom: .1rem;

      &:not([disabled]):hover{
        background-color: var(--accent-60);
        color: var(--text);
      }
    }
  }
}