.helpLink{
  background-color: var(--contrast);
  border: 2px solid var(--default-interactable-border);
  border-radius: 5rem;
  height: 35px;
  width: 35px;
  display: grid;
  place-content: center;
  user-select: none;
  color: var(--text-30);

  &:hover{
    border-color: var(--default-interactable-hover-border);
    color: var(--text);
  }

  &.floating{
    position: absolute;
    bottom: .75rem;
    right: .75rem;
  }
}

.helpLinkPopoverContent{
  .scrollArea{
    padding: .2rem;
  }

  a {
    font-size: .85rem;
    padding: .4rem;
    color: var(--text-20);
    gap: .3rem;
    justify-content: start;

    &:hover {
      color: var(--accent);
      background-color: var(--transparent-accent-05);
    }

    svg {
      color: inherit;
    }
  }
}