main.shotlist{
  height: 100%;
  width: 100%;
  background-color: var(--sidebar-bg);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  .content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 1px;

    &.reloading{
      pointer-events: none;
      opacity: .5;
    }
  }
}