.textCycle{
  display: inline-flex;
  height: 1em;
  overflow: visible;
  align-items: center;

  .cycleContainer {
    overflow: hidden;
    height: 1.5em;
    line-height: 1em;
    display: grid;
    align-items: center;

    span.textDisplay{
      display: block;
      grid-area: 1 / 1 / 2 / 2;
      width: fit-content;
    }
  }
}