.dashboardDialogFloater {
  overflow-y: auto;
  container-type: scroll-state;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  height: 100svh;
  padding: .5rem;
  padding-top: 3rem;

  @media screen and (max-width: 500px){
      backdrop-filter: blur(10px);
      padding-bottom: 3rem;
  }

  @container scroll-state(scrollable: y) {
    &::after{
      content: "";
      height: 5rem;
      flex-shrink: 0;
    }
  }

  > div{
    background-color: var(--floater-dialog-bg);
    padding: 1rem;
    border-radius: .5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: -.1rem .1rem .5rem .2rem light-dark(var(--transparent-gray-30), transparent);

    h3{
      font-weight: bold;
    }

    p{
      color: var(--text-20);
      font-size: .9rem;
      line-height: 125%;

      &.small {
        font-size: .85rem;
        color: var(--text-40);
      }

      span.gray{
        color: var(--text-40);
      }
    }

    ul {
      font-size: .9rem;
      margin-bottom: .75rem;

      li {
        margin-left: 1.2rem;
        margin-top: .3rem;
        color: var(--text-20);

        &::marker {
          color: var(--accent-40);
        }
      }
    }

    .textField{
      font-size: .9rem;
    }

    a:not(.buttons a) {
      color: var(--text-40);
      padding: 0;
      text-decoration: underline;

      &:hover {
        color: var(--text);
      }

      &.small {
        font-size: .9em;
      }
    }

    > button, .buttons button, .buttons a{
      width: 100%;
      justify-content: center;
      font-size: .9rem;

      &.main {
        background-color: var(--accent);

        &:not([disabled]):hover {
          background-color: var(--accent-60);
        }
      }

      &.secondary {
        color: var(--accent);
        background-color: var(--transparent-accent-10);

        &:not([disabled]):hover {
          background-color: var(--transparent-accent-20);
        }
      }
    }

    div.top{
      display: flex;
      justify-content: space-between;
    }

    div.buttons{
      display: flex;
      gap: .5rem;
    }
  }
}