.shotlist .sidebar{
  .top{
    gap: 0;

    p{
      margin-left: .2rem;
    }

    input{
      padding-inline: .2rem;
      text-overflow: ellipsis;

      &:focus-visible{
        outline-color: var(--accent);
      }
    }
  }
  .list >.empty{
    text-align: center;
    color: var(--text-40);
    font-size: .9rem;
    margin-block: 1rem;
  }
}