main.pro{
  p{
    span{
      color: var(--accent-40);
      font-weight: 500;
    }
  }

  .buttons{
    button, a{
      padding-inline: 1.2em;
      padding-block: 0.8em;
      font-size: .9rem;
    }
  }

  .separator{
    margin-top: auto;
  }
}