.commentPopover .comment {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: .5rem;
  gap: .2rem;
  position: relative;
  border-block: 1px solid transparent;
  transition: border 0.2s;

  &.isBeingEdited{
    background-color: var(--transparent-gray-10);
  }

  > .top {
    display: flex;
    align-items: center;

    p {
      color: var(--text-40);
      font-weight: 500;
      font-size: .85rem;

      span.edited{
        font-style: italic;
        font-weight: 400;
        font-size: .8rem;
      }
    }

    div.buttons{
      display: flex;
      position: absolute;
      right: .25rem;
      top: .25rem;
      opacity: 0;
      transition: opacity 100ms ease-out;

      &:has(*:focus-visible){
        opacity: 1;
      }

      button {
        padding: 0;
        height: 1.5rem;
        aspect-ratio: 1;
        justify-content: center;
        color: var(--text-40);

        &:hover{
          color: var(--accent);
          background-color: var(--transparent-accent-10);
        }
      }
    }
  }

  &:hover, &.isBeingEdited{
    border-color: var(--default-interactable-border);

    .top {
      .buttons {
        opacity: 1;
      }
    }

    .markdownEditor{
      border-top: 1px solid var(--default-interactable-light-border);
      margin-top: .2rem;
    }
  }

  div.text {
    font-size: .85rem;
    padding-left: .1rem;
    display: flex;
    flex-direction: column;
    gap: .5em;
    line-height: 1.4em;

    a {
      display: inline;
      padding: 0;
      font-size: inherit;
      text-decoration: underline;
      color: var(--accent);
    }

    /*TODO lists*/

    ul, ol{
      padding-left: 1.2rem;

      li{
        &::marker {
          color: var(--text-30);
        }
      }
    }

    blockquote{
      border-left: .1rem solid var(--text-50);
      padding-left: .5em;
      margin-left: .3em;
    }
  }
}