div.simpleCollapse {
  &[data-state="open"] {
    .trigger .chevron {
      scale: 1 -1;
    }

    .content {
      padding: .3rem;
    }
  }

  .trigger {
    font-size: .9rem;
    color: var(--text-50);
    padding: .3rem;
    font-weight: bold;
    justify-content: left;

    &:hover {
      background-color: var(--transparent-gray-10);
      color: var(--text);
    }

    .chevron {
      transition: scale 0.3s;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    scrollbar-width: thin;
  }
}