main.shotlist .header{
  display: flex;
  align-items: center;
  padding-right: calc(1.8rem + var(--sheet-additional-padding-right));
  overflow-x: auto;
  position: relative;
  transition: padding 0.3s;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  &::-webkit-scrollbar {
    display: none; /*Chrome, Safari and Opera */
  }

  @media screen and (max-width: 600px){
    padding-right: .5rem;
  }

  div{
    width: 100%;
    padding: .5rem .3rem;
    font-weight: bold;
    font-size: calc(.9rem * var(--shotlist-scale));

    &.number{
      width: calc(4ch + 1.5rem);
      flex-shrink: 0;
      text-align: center;
      color: var(--text-40);
      position: sticky;
      left: 0;
      background-color: var(--sidebar-bg);
      display: flex;
    }

    &.attribute{
      min-width: var(--shotAttribute-width);

      p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .empty{
    font-size: .85rem;
    color: var(--text-40);
    margin-inline: auto;
  }

  .add{
    position: fixed;
    right: .3rem;
    color: var(--text-50);
    padding: .4rem;
    background-color: var(--sidebar-bg);

    @media screen and (max-width: 600px) {
      display: none;
    }

    &:hover{
      color: var(--text);
      background-color: var(--contrast);
    }
  }
}