.shotlist div.commentTriggerWrapper{
  position: sticky;
  right: 0;
  width: 0;
  align-self: center;
  z-index: 150;
}

.shotlist button.comments{
  --comment-button-bg: light-dark(hsl(0 0% 95%), hsl(0, 0%, 15%));
  --comment-button-hover-bg: light-dark(hsl(0 0% 88%), hsl(0, 0%, 25%));

  padding: 0;
  width: 1.5rem;
  aspect-ratio: 1;
  margin-left: .25rem;
  justify-content: center;
  transition: background-color .3s ease-out, color .3s ease-out, opacity 100ms;
  color: var(--accent);
  background-color: var(--comment-button-bg);
  border: 1px solid var(--default-interactable-border);
  opacity: 0;
  box-shadow: 0 0 4px 4px var(--transparent-contrast-10);

  &.visible {
    opacity: 1;

    &:hover{
      background-color: var(--comment-button-hover-bg);
      color: var(--accent-60);
    }
  }

  &:not(.visible) {
    &:not(.commenterMode).showOnHover {
      border: none;
      color: var(--text-60);
      background-color: transparent;

      &:hover {
        background-color: var(--comment-button-hover-bg);
        color: var(--text);
      }
    }

    &.commenterMode {
      border: none;
      color: var(--text-50);
      opacity: 1;

      &:hover {
        background-color: var(--comment-button-hover-bg);
        color: var(--text);
      }
    }
  }

  // increase target size
  &::before{
    content: "";
    position: absolute;
    height: calc(40px * var(--shotlist-scale));
    width: 2rem;
  }
}

.popoverContent.commentPopover{
  --commentPopover-secondary-bg: light-dark(hsl(0 0% 95%), hsl(0, 0%, 15%));

  overflow: hidden;
  min-width: min(95vw, 40ch);
  gap: 0;

  @media screen and (max-width: 600px){
    width: var(--max-width);
  }

  > .top{
    display: flex;
    justify-content: space-between;
    background-color: var(--commentPopover-secondary-bg);
    padding-block: .6rem;
    padding-inline: .3rem;

    p{
      font-weight: 600;
    }
  }

  > .content{
    flex-shrink: 1;
    overflow: auto;
    scrollbar-width: thin;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 1.5rem;

    .empty{
      margin: 1rem;
      margin-top: 2rem;
      text-align: center;
      color: var(--text-50);
      font-size: .85rem;
      user-select: none;
    }
  }

  > .bottom{
    display: flex;
    gap: .5rem;
    padding: .2rem;
    background-color: var(--commentPopover-secondary-bg);
    align-items: center;

    .markdownEditor{
      width: 100%;
    }

    .empty{
      font-size: .75rem;
      text-align: center;
      width: 100%;
      padding: .3rem;
      color: var(--text-40);
    }
  }
}