div.shotlistOptionsDialogExportTab{
  height: 100%;
  display: flex;
  flex-direction: column;

  .filters{
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .filter{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      .left{
        display: flex;
        align-items: center;
        gap: .5rem;

        svg{
          color: var(--text-30);
        }
      }

      .right{
        display: flex;
        gap: .5rem;

        button.remove{
          color: var(--text-30);
          border: 2px solid var(--default-interactable-border);
          border-radius: .3rem;

          &:hover{
            color: var(--bad);
            border-color: var(--bad);
          }
        }
      }
    }

    .combinationInfo{
      color: var(--text-50);
      font-size: .95rem;
      margin-left: 1rem;
    }
  }

  button.addFilter{
    border: 2px solid var(--default-interactable-border);
    color: var(--text-30);
    padding-block: .4rem;
    padding-inline: .6rem;
    font-weight: 500;
    font-size: .95rem;
    margin-top: 1.5rem;
    width: fit-content;

    &:not([disabled]):hover{
      border-color: var(--default-interactable-hover-border);
      color: var(--text-10);
    }
  }

  button.export{
    padding: .5rem .8rem;
    color: var(--contrast);
    background-color: var(--accent);
    font-weight: bold;
    margin-top: auto;
    font-size: .95rem;
    width: fit-content;

    &:hover{
      background-color: var(--accent-55);
    }
  }
}
