div.shotlistOptionsDialogExportTab{
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  .scroll{
    height: 100%;
    overflow-y: auto;
    padding-bottom: 4rem;
    padding-right: .3rem;

    scrollbar-width: thin;
  }

  .filters{
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .filter{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      .left{
        display: flex;
        align-items: center;
        gap: .5rem;
        font-size: .9rem;
        color: var(--text-20);
        font-weight: 500;

        svg{
          color: var(--text-30);
        }
      }

      .right{
        display: flex;
        gap: .5rem;

        button.remove{
          color: var(--text-30);
          border: 2px solid var(--default-interactable-border);
          border-radius: .3rem;

          &:hover{
            color: var(--bad);
            border-color: var(--bad);
          }
        }
      }
    }

    .combinationInfo{
      color: var(--text-60);
      font-size: .85rem;
      margin-left: 1rem;
      text-wrap: nowrap;
    }
  }

  .separator{
    margin-block: .8rem;
  }

  button.addFilter{
    border: 2px solid var(--default-interactable-border);
    color: var(--text-30);
    padding-block: .4rem;
    padding-inline: .6rem;
    font-weight: 500;
    font-size: .9rem;
    width: fit-content;
    margin-top: 2rem;

    &:not([disabled]):hover{
      border-color: var(--default-interactable-hover-border);
      color: var(--text-10);
    }
  }

  .bottom{
    margin-top: auto;
    display: flex;
    border-top: 2px solid var(--text-90);
    padding-top: 1rem;
    background-color: var(--contrast);
    gap: .5rem;

    button{
      padding: .5rem .8rem;
      font-size: .95rem;
      width: fit-content;

      &.export{
        font-weight: bold;
        color: var(--contrast);
        background-color: var(--accent);

        &:hover{
          background-color: var(--accent-55);
        }
      }

      &.preview{
        color: var(--text-10);
        border: 2px solid var(--default-interactable-light-border);

        &:hover{
          border-color: var(--default-interactable-hover-border);
          color: var(--text);
        }
      }
    }

    .helpLink{
      margin-left: auto;
    }
  }
}

.popoverContent.addFilterPopup{
  text-align: left;
  min-width: var(--radix-popover-trigger-width);

  h3{
    color: var(--text-50);
    font-weight: bold;
    margin-left: .3rem;
    font-size: .9rem;
  }

  .empty{
    color: var(--text-50);
    font-style: italic;
    text-align: center;
  }

  button{
    padding-block: .3rem;
    font-size: .95rem;
    color: var(--text);

    &:hover{
      background-color: var(--hover-bg-10);
    }
  }
}

.pdfPreviewDialogContent{
  width: 800px;
  max-width: 95vw;
  display: flex;
  flex-direction: column;

  h2{
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-left: .5rem;
    font-weight: bold;

    span{
      font-weight: normal;
      color: var(--text-30);
      font-size: .9rem;
    }
  }

  iframe{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: .5rem;
    aspect-ratio: 1.414;
  }

  .export {
    padding: .5rem .8rem;
    font-size: .95rem;
    width: fit-content;
    margin-top: .5rem;

    font-weight: bold;
    color: var(--contrast);
    background-color: var(--accent);

    &:hover {
      background-color: var(--accent-55);
    }
  }

  .closeButton{
    position: absolute;
    top: .5rem;
    right: .5rem;
    padding: .5rem;
    border-radius: 100%;

    &:hover{
      background-color: var(--hover-bg-10);
    }
  }

  .small{
    font-size: .8rem;
    color: var(--text-60);
    margin-top: .3rem;
  }
}