.popoverContent.addFilterPopover{
  text-align: left;
  min-width: var(--radix-popover-trigger-width);

  .scrollArea{
    display: flex;
    flex-direction: column;
    gap: .2rem;
    padding: .4rem;
  }

  h3{
    color: var(--text-50);
    font-weight: bold;
    font-size: .9rem;
  }

  .empty{
    color: var(--text-50);
    font-style: italic;
    text-align: center;
  }

  button{
    font-size: .9rem;
    color: var(--text);
    padding: .3rem;

    &:hover{
      background-color: var(--transparent-gray-10);
    }
  }
}

.pdfPreviewDialogContent{
  width: 800px;
  max-width: 95vw;
  display: flex;
  flex-direction: column;

  .top {
    display: flex;
    align-items: center;
    gap: .5rem;

    h2{
      font-size: 1rem;
      font-weight: bold;

      span{
        font-weight: normal;
        color: var(--text-30);
        font-size: .9rem;
      }
    }

    button {
      padding: .5rem .8rem;
      font-size: .9rem;
      font-weight: bold;

      &.export {
        margin-left: auto;
        color: var(--accent);
        background-color: var(--transparent-accent-10);

        &:hover {
          background-color: var(--transparent-accent-20);
        }
      }

      &.close {
        background-color: var(--transparent-gray-10);

        &:hover {
          background-color: var(--transparent-gray-20);
        }
      }

      @media screen and (max-width: 600px) {
        span {
          display: none;
        }
      }
    }
  }

  .small{
    font-size: .8rem;
    color: var(--text-60);
    margin-top: 1rem;
  }
}