@media screen and (max-width: 500px){
  .headerContainer:not(.template){
    display: none !important;
  }
}

main.overview{
  h2{
    font-size: .95rem;
    color: var(--text-40);
    font-weight: 500;
    margin-bottom: .5rem;
    margin-left: .1rem;
  }
}