.sidebar.shotlistSidebar {
  .content {
    > .bottom .presentCollaborators {
      display: flex;
      border: none;
      padding: .3rem;
      backdrop-filter: blur(5px);
      width: 100%;

      &:hover, &[data-state=open] {
        background-color: var(--transparent-gray-10);
      }

      .collaborator {
        border-radius: 50%;
        aspect-ratio: 1;
        background-color: var(--collaborator);
        display: grid;
        height: 1.6rem;
        place-items: center;
        color: var(--collaborator-contrast);
        font-weight: bold;
        font-size: .8rem;
      }
    }
  }

  .popoverContent.presentCollaborators {
    p {
      font-size: .8rem;
    }
  }
}